@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .w-unset {
    width: unset;
  }
}

:root {
  --border-gray: #E5E7EB;
  --gray-light: #F1F1F1;
  --primary-yellow: #FB923C;
  --primary-purple: #6B21A8;
}

:root {
  scroll-behavior: smooth;
}
